{% extends 'layout.html' %}

{% block title %}Olvido Contraseña{% endblock %}

{% block content %}
<div class="login-container">
    <h1 class="form-title">Coloque su usuario<br /> y correo electrónico</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert-flash">
        <ul class="flash-list">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <div class="login-form">
        <form action="/olvido" method="post">
            <div class="form-group">
                <label for="username" class="form-label">Usuario:</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required>
            </div>

            <div class="form-group">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="correo@host.com"
                    pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required>
            </div>

            <div class="btn-center-container">
                <button class="btn btn-primary" type="submit" id="submitF" name="submitF">Verificar</button>
                <button class="btn btn-danger" type="reset" id="resetF" name="resetF">Borrar</button>
            </div>
        </form>

        <a href="{{url_for('auth.index')}}" class="forgot-link">Volver al Inicio</a>
    </div>
</div>
{% endblock %}