{%extends 'layout.html'%}
{%block title%}Provision{%endblock%}
{%block script%}
<script src="{{url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $("#next1").click(function () {
            $(this).hide();
        });
    });

    function setSecondDate() {
        var days = document.getElementById("select").value;
        var date = new Date(document.getElementById("date1").value);
        date.setDate(date.getDate() + parseInt(days));
        document.getElementById("date2").valueAsDate = date;
    };
</script>
{% endblock %}
{% block content %}
<div>
    <form class="row">
        <div class="col">
            <h6>Seleccione la semana<br /> correspondiente a su provision:</h6>
            <ul>
                <li>
                    <input type="radio" id="semProv1" name="SemanaProv" value="1" required checked />
                    <label for="semProv1">&nbsp&nbsp Semana - 1 &nbsp&nbsp</label>
                </li>
                <li>
                    <input type="radio" id="semProv2" name="SemanaProv" value="2" required />
                    <label for="semProv2">&nbsp&nbsp Semana - 2 &nbsp&nbsp</label>
                </li>
                <li>
                    <input type="radio" id="semProv3" name="SemanaProv" value="3" required />
                    <label for="semProv3">&nbsp&nbsp Semana - 3 &nbsp&nbsp</label>
                </li>
                <li>
                    <input type="radio" id="semProv4" name="SemanaProv" value="4" required />
                    <label for="semProv4">&nbsp&nbsp Semana - 4 &nbsp&nbsp</label>
                </li>
            </ul>
            <button id="next1" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNomina" aria-expanded="false" aria-controls="collapseNomina">
                &nbspSiguiente&nbsp
            </button>
        </div>
        
        <div class="collapse col" id="collapseNomina">
            <h6>Seleccion el tipo de Nomina:</h6>
            <ul>
                <li>
                    <input type="radio" id="nomSem" name="Nomina" value="nomS" required />
                    <label for="nomSem">&nbsp&nbsp Nomina Semanal &nbsp&nbsp</label>
                </li>
                <li>
                    <input type="radio" id="nomQuin" name="Nomina" value="nomQ" required />
                    <label for="nomQuin">&nbsp&nbsp Nomina Quincenal &nbsp&nbsp</label>
                </li>
            </ul>
            <button id="next2" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFecha" aria-expanded="false" aria-controls="collapseNomina">
                &nbspSiguiente&nbsp
            </button>
        </div>
        <div class="collapse col" id="collapseFecha">
            <h6>Seleccion la fecha inicial:</h6>
        </div>
    </form>
</div>
{% endblock %}